name: format
on: [push, pull_request]
jobs:
  format:
    runs-on: ubuntu-22.04
    name: Check formatting
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: sudo apt install --yes black clang-format
      - name: Check python formatting
        run: black --check .
      - name: Check C++ formatting
        run: clang-format --dry-run --Werror pdftotext.cpp
